.col-menus {
    position: fixed;
    width: 23%;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 10px;
}

.wrapper {
    width: 330px;
    font-family: "Helvetica";
    font-size: 14px;
    border: 1px solid #ccc;
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #ccc;
}

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
}

.bg {
    /* background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 1%, rgba(9, 94, 121, 0.7595413165266106) 44%, rgba(0, 212, 255, 1) 96%); */
    background: #dedede8c;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-title {
    background: #1a181a;
    opacity: 0.9;
    color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
}

.profile-img {
    width: 150px;
    height: 150px;
    background: #2d212e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr-title {
    border: 1px solid #dedede;
    margin-top: -20px;
    width: 15%;
    float: left;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#intro {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}

#intro p {
    text-align: justify;
}

.download-mob{
    display: none;
}

.title-name {
    letter-spacing: 2px;
}

.btn-intro {
    float: right;
}

#experience {
    margin: -30px -48px 0 -48px;
    background: #0c7ec0;
    padding: 70px 40px 35px 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    clip-path: polygon(79% 10%, 100% 4%, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 0);
}

.img-work {
    height: 500px;
    background: url("assets/photo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#education {
    margin: -0px -48px 0 -48px;
    background: rgb(83, 84, 88);
    background: linear-gradient(90deg, rgb(67, 69, 77) 15%, rgb(91, 96, 112) 100%);
    color: white;
    padding: 50px 40px 80px 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.img-edu {
    width: 400px;
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 88%);
    float: right;
    opacity: 0.9;
}


@media only screen and (max-width: 800px) {
    .col-menus {
        position: relative;
        width: 100%;
    }

    .hr-title {
        border: 1px solid #dedede;
        margin-top: -20px;
        width: 15%;
        float: none;
    }

    #intro {
        text-align: center;
        padding-bottom: 20px;
    }

    #intro p {
        text-align: center;
        margin: 10px -20px;
        letter-spacing: 0.1em;
    }

    .download-desk{
        display: none;
    }

    .download-mob{
        display: block;
        text-align: center;
    }

    .btn-intro {
        float: none;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 0px;
        text-align: center;
    }

    h4 {
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
    }

    #experience {
        margin: -0px -48px 0 -48px;
        background: #3d3d3d;
        padding: 80px 10px 30px 10px;
        color: white;
        clip-path: polygon(50% 6%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0 0);
    }

    .img-work {
        display: none;
    }

    .hr-title {
        float: none;
        margin-top: -10px;
        margin-bottom: 30px
    }

    #education {
        margin: -40px -48px;
        padding: 70px 10px 30px 10px;
        background: #4271ff;
        clip-path: polygon(50% 9%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0 0);
    }

    .img-edu {
        display: none;
    }

    #past {
        display: none;
    }
}